@page
@model BokningsAppDevOpsCleanCode.Pages.AdminPageModel

@* Shows all bookings *@
<div class="text-center">
    <h1>Alla bokningar</h1>

    @if (Model.AllBookings != null && Model.AllBookings.Any())
    {
        @foreach (var booking in Model.AllBookings)
        {
            <div class="bookingsAdminPage" style="border: 3px solid black; padding: 10px; margin-bottom: 10px;">
                <p>Datum och Tid: @booking.ChosenDateTime.ToString("yyyy-MM-dd")</p>
                <p>Vald tid: @booking.ChosenTime</p>
                <p>Vald behandling: @booking.ChosenTreatment</p>
                <p>Kundnamn: @booking.CustomerName</p>
                <p>Email: @booking.UserId</p>
                <form method="post" asp-page-handler="CancelBooking" asp-route-bookingId="@booking.Id">
                    <button class="avboka"type="submit">Cancel Booking</button>
                </form>
            </div>
        }
    }
    else
    {
        <p>Inga bokningar kunde hittas</p>
    }
</div>
